@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 10, 9; /* stone-950 */
  --background-end-rgb: 12, 10, 9;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  /* Smooth scrolling for anchor links */
  scroll-behavior: smooth; 
}